@import "tailwindcss";
@plugin "@tailwindcss/typography";

[id] {
  scroll-margin-top: 5rem;
}

@layer utilities {
  .prose :where(table) {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}
